.buddies-coming-soon-main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
}

.buddies-coming-soon-title {
    text-align: center;
    line-height: 1.1;
    font-size: clamp(36px, 7vw, 100px);
}
